<section class="about">
  <div class="container">
    <div class="about__inner tabs" data-tabs="about">

      <aside class="about__aside">
        <h2 class="about__heading">
          Информация о нас
        </h2>

        <ul class="about__tabs tabs__nav">
          <li class="about__tab tabs__nav-item">
            <button class="about__btn tabs__nav-btn" type="button">
              О компании
            </button>
          </li>

          <li class="about__tab tabs__nav-item">
            <button class="about__btn tabs__nav-btn" type="button">
              Преимущества
            </button>
          </li>

          <li class="about__tab tabs__nav-item">
            <button class="about__btn tabs__nav-btn" type="button">
              Наши партнеры
            </button>
          </li>

          <li class="about__tab tabs__nav-item">
            <button class="about__btn tabs__nav-btn" type="button">
              Обратная связь
            </button>
          </li>
        </ul>
      </aside>

      <div class="about__content tabs__content">
        <div class="about__wrap tabs__panel">
          <h2 class="about__title title title--dark">
            О компании «Woodtech»
          </h2>

          <div class="about__text">
            <p>
              Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой"
              для
              текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм
              шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил.
            </p>
          </div>

          <div class="about__img">
            <img src='./img/about-img.jpg' alt='Image' width='800' height='500'>
          </div>

          <div class="about__text">
            <p>
              Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой"
              для
              текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм
              шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил.
            </p>
          </div>

          <div class="about__text">
            <p>
              Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой"
              для
              текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм
              шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил.
            </p>
          </div>

          <div class="about__text">
            <p>
              Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой"
              для
              текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм
              шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил.
            </p>
          </div>
        </div>

        <div class="about__wrap tabs__panel">
          <h2 class="about__title title title--dark">
            Наши преимущества
          </h2>

          <ul class="about__list">
            <li class="about__item">
              <a class="about__heading-link" href="#">
                <h3 class="about__heading-text">
                  Безопасные материалы
                </h3>
              </a>
              <div class="about__item-descr">
                <p>
                  Безопасность каждого из используемых материалов подтверждается соответствующим сертификатом европейского
                  стандарта. Мы
                  используе
                </p>
              </div>
              <a class="about__more-link" href="#">
                Подробнее
              </a>
            </li>
            <li class="about__item">
              <a class="about__heading-link" href="#">
                <h3 class="about__heading-text">
                  Безопасные материалы
                </h3>
              </a>
              <div class="about__item-descr">
                <p>
                  Безопасность каждого из используемых материалов подтверждается соответствующим сертификатом европейского
                  стандарта. Мы
                  используем продукцию только проверенных годами брендов.
                </p>
              </div>
              <a class="about__more-link" href="#">
                Подробнее
              </a>
            </li>
            <li class="about__item">
              <a class="about__heading-link" href="#">
                <h3 class="about__heading-text">
                  Безопасные материалы
                </h3>
              </a>
              <div class="about__item-descr">
                <p>
                  Безопасность каждого из используемых материалов подтверждается соответствующим сертификатом европейского
                  стандарта. Мы
                  используе
                </p>
              </div>
              <a class="about__more-link" href="#">
                Подробнее
              </a>
            </li>
            <li class="about__item">
              <a class="about__heading-link" href="#">
                <h3 class="about__heading-text">
                  Безопасные материалы
                </h3>
              </a>
              <div class="about__item-descr">
                <p>
                  Безопасность каждого из используемых материалов подтверждается соответствующим сертификатом европейского
                  стандарта. Мы
                  используем продукцию только проверенных годами брендов.
                </p>
              </div>
              <a class="about__more-link" href="#">
                Подробнее
              </a>
            </li>
            <li class="about__item">
              <a class="about__heading-link" href="#">
                <h3 class="about__heading-text">
                  Безопасные материалы
                </h3>
              </a>
              <div class="about__item-descr">
                <p>
                  Безопасность каждого из используемых материалов подтверждается соответствующим сертификатом европейского
                  стандарта. Мы
                  используе
                </p>
              </div>
              <a class="about__more-link" href="#">
                Подробнее
              </a>
            </li>
            <li class="about__item">
              <a class="about__heading-link" href="#">
                <h3 class="about__heading-text">
                  Безопасные материалы
                </h3>
              </a>
              <div class="about__item-descr">
                <p>
                  Безопасность каждого из используемых материалов подтверждается соответствующим сертификатом европейского
                  стандарта. Мы
                  используем продукцию только проверенных годами брендов.
                </p>
              </div>
              <a class="about__more-link" href="#">
                Подробнее
              </a>
            </li>
            <li class="about__item">
              <a class="about__heading-link" href="#">
                <h3 class="about__heading-text">
                  Безопасные материалы
                </h3>
              </a>
              <div class="about__item-descr">
                <p>
                  Безопасность каждого из используемых материалов подтверждается соответствующим сертификатом европейского
                  стандарта. Мы
                  используе
                </p>
              </div>
              <a class="about__more-link" href="#">
                Подробнее
              </a>
            </li>
            <li class="about__item">
              <a class="about__heading-link" href="#">
                <h3 class="about__heading-text">
                  Безопасные материалы
                </h3>
              </a>
              <div class="about__item-descr">
                <p>
                  Безопасность каждого из используемых материалов подтверждается соответствующим сертификатом европейского
                  стандарта. Мы
                  используем продукцию только проверенных годами брендов.
                </p>
              </div>
              <a class="about__more-link" href="#">
                Подробнее
              </a>
            </li>
          </ul>
        </div>

        <div class="about__wrap tabs__panel">
          <h2 class="about__title title title--dark">
            Наши партнёры
          </h2>

          <div class="about__partners">
            <div class="about__partners-img">
              <img src='./img/milano.png' alt='Milano Parquet S.R.L' width='106' height='67'>
            </div>

            <div class="about__partners-info">
              <h3 class="about__partners-title">
                Milano Parquet S.R.L
              </h3>

              <div class="about__text">
                <p>
                  Компания родилась из города, в котором она получила свое название: Милан. Современный и динамичный город, всегда идущий
                  в ногу с тенденциями и постоянно развивающийся. Прогресс, инновации и возможности тесно связаны с образом жизни этого
                  мегаполиса, где, пользуясь этим влиянием, наша компания более двадцати лет развивалась вместе с ним. Мы страстно и
                  целеустремленно заботимся о древесине и с особой тщательностью следим за всем производственным процессом; от тщательного
                  отбора сырья до различных процессов трансформации и отделки поверхностей, чтобы превратить драгоценные столы в
                  изысканные и качественные полы.
                </p>
              </div>
            </div>
          </div>

          <div class="about__partners">
            <div class="about__partners-img">
              <img src='./img/milano.png' alt='Milano Parquet S.R.L' width='106' height='67'>
            </div>

            <div class="about__partners-info">
              <h3 class="about__partners-title">
                Milano Parquet S.R.L
              </h3>

              <div class="about__text">
                <p>
                  Компания родилась из города, в котором она получила свое название: Милан. Современный и динамичный город, всегда
                  идущий
                  в ногу с тенденциями и постоянно развивающийся. Прогресс, инновации и возможности тесно связаны с образом жизни
                  этого
                  мегаполиса, где, пользуясь этим влиянием, наша компания более двадцати лет развивалась вместе с ним. Мы страстно
                  и
                  целеустремленно заботимся о древесине и с особой тщательностью следим за всем производственным процессом; от
                  тщательного
                  отбора сырья до различных процессов трансформации и отделки поверхностей, чтобы превратить драгоценные столы в
                  изысканные и качественные полы.
                </p>
              </div>
            </div>
          </div>

          <div class="about__partners">
            <div class="about__partners-img">
              <img src='./img/milano.png' alt='Milano Parquet S.R.L' width='106' height='67'>
            </div>

            <div class="about__partners-info">
              <h3 class="about__partners-title">
                Milano Parquet S.R.L
              </h3>

              <div class="about__text">
                <p>
                  Компания родилась из города, в котором она получила свое название: Милан. Современный и динамичный город, всегда
                  идущий
                  в ногу с тенденциями и постоянно развивающийся. Прогресс, инновации и возможности тесно связаны с образом жизни
                  этого
                  мегаполиса, где, пользуясь этим влиянием, наша компания более двадцати лет развивалась вместе с ним. Мы страстно
                  и
                  целеустремленно заботимся о древесине и с особой тщательностью следим за всем производственным процессом; от
                  тщательного
                  отбора сырья до различных процессов трансформации и отделки поверхностей, чтобы превратить драгоценные столы в
                  изысканные и качественные полы.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="about__wrap tabs__panel">
          <div class="about__top top">
            <h2 class="about__title title title--dark">Обратная связь</h2>
            <p class="about__descr descr">Задайте нам любой вопрос, напишите или сделайте заказ.
            Наши менеджеры ответят вам в ближайшее время.</p>
          </div>

          <form class='form-feedback' action='#'>
            <label>
              <input class='form--feedback__input' id='name' type='text' name='name' placeholder="Имя..." required>
            </label>
            <label>
              <input class='form--feedback__input' id='phone' type='tel' name='phone' placeholder="Телефон..." required>
            </label>
            <label>
              <textarea class='form--feedback__input form--feedback__input--textarea' placeholder="Ваше сообщение..."  required></textarea>
            </label>
            <button class='form--feedback__button button-style' type='submit'> Отправить сообщение </button>
          </form>

          <div class="about__contacts">
            <div class="about__top top">
              <h2 class="about__title title">Наши контакты</h2>
              <span class="about__descr descr">
                г. Москва, пр. Скулатова, 224, оф 3.
              </span>
              <a class="about__link" href="tel:84992467532">+7 (499) 246-75-32</a>
            </div>

            <div class='about__img'>
              <img src='./img/map.jpg' alt='map' width='930' height='525'>
            </div>
         </div>

        </div>
      </div>

    </div>
  </div>
</section>
