<section class="advantages">
  <div class="container">
    <div class="advantages__inner">

      <!-- advantages slider start -->
      <div class="advantages__slider-wrap">
        <div class="advantages__slider swiper">
          <div class="swiper-wrapper">
            <!-- advantages slide start -->
            <div class="advantages__slide swiper-slide">
              <div class='advantages__slider-img'>
                <img src='./img/about.jpg' alt='Комната в древесном стиле, кровать цвета мокрый асфальт' width='440'
                  height='530'>
              </div>
            </div>
            <!-- advantages slide end -->
            <!-- advantages slide start -->
            <div class="advantages__slide swiper-slide">
              <div class='advantages__slider-img'>
                <img src='./img/about.jpg' alt='Комната в древесном стиле, кровать цвета мокрый асфальт' width='440'
                  height='530'>
              </div>
            </div>
            <!-- advantages slide end -->
            <!-- advantages slide start -->
            <div class="advantages__slide swiper-slide">
              <div class='advantages__slider-img'>
                <img src='./img/about.jpg' alt='Комната в древесном стиле, кровать цвета мокрый асфальт' width='440'
                  height='530'>
              </div>
            </div>
            <!-- advantages slide end -->
          </div>
        </div>

        <div class="advantages__slider-caption">
          32 <span>года на рынке</span>
        </div>
      </div>
      <!-- advantages slider end -->

      <!-- advantages info start -->
      <div class="advantages__info">
        <!-- Best work title start -->
        <div class="advantages__title-block">
          <span class="advantages__subtitle subtitle">коротко о нас</span>
          <h2 class="advantages__title title title--dark">Проектируем и создаём экологичный комфорт</h2>
        </div>
        <!-- advantages title end -->
        <!-- advantages descr start -->
        <div class="advantages__descr">
          <p>
            В работе мы используем только лучшие материалы на рынке по доступным ценам. Наши специалисты подберут наиболее
            подходящие породы дерева, специалисты по дизайну разработают готовое решение.
          </p>
        </div>
        <!-- advantages descr end -->
        <!-- advantages list start -->
        <ul class="advantages__list">
          <li class="advantages__item">
            <a class="advantages__heading-link" href="#">
              <h3 class="advantages__heading">
                Безопасные материалы
              </h3>
            </a>
            <div class="advantages__item-descr">
              <p>
                Безопасность каждого из используемых материалов подтверждается соответствующим сертификатом европейского стандарта. Мы
                используе
              </p>
            </div>
            <a class="advantages__more-link" href="#">
              Подробнее
            </a>
          </li>
          <li class="advantages__item">
            <a class="advantages__heading-link" href="#">
              <h3 class="advantages__heading">
                Безопасные материалы
              </h3>
            </a>
            <div class="advantages__item-descr">
              <p>
                Безопасность каждого из используемых материалов подтверждается соответствующим сертификатом европейского стандарта. Мы
                используем продукцию только проверенных годами брендов.
              </p>
            </div>
            <a class="advantages__more-link" href="#">
              Подробнее
            </a>
          </li>
        </ul>
        <!-- advantages list end -->
      </div>
      <!-- advantages info end -->

    </div>
  </div>
</section>
