<section class="blog">
  <div class="container">
    <div class="blog__inner">

      <h2 class="blog__title title title--dark">
        Наш блог
      </h2>

      <div class="blog__slider swiper">
        <ul class="blog__list swiper-wrapper">
          <li class="blog__item swiper-slide">

            <div class="blog__img">
              <img src="./img/blog1.jpg" alt="Потрясающая деревянная лестница с изображение льва на ручке" width="330" height="210">
            </div>

            <time class="blog__date button-style" datetime="2022-06-12">12 июля</time>

            <div class="blog__info">
              <a class="blog__link" href="#">
                <h3 class="blog__heading">
                  Построили потрясающую деревянную лестницу
                </h3>
              </a>

              <div class="blog__text">
                <p>
                  Один из самых необыкновенных проектов нашей компании - винтовая деревянная лестница в старинном стиле.
                </p>
              </div>

              <a class="blog__wright-link" href="#">
                Читать полностью
              </a>
            </div>

          </li>

          <li class="blog__item swiper-slide">

            <div class="blog__img">
              <img src="./img/blog1.jpg" alt="Потрясающая деревянная лестница с изображение льва на ручке" width="330"
                height="210">
            </div>

            <time class="blog__date button-style" datetime="2022-06-12">12 июля</time>

            <div class="blog__info">
              <a class="blog__link" href="#">
                <h3 class="blog__heading">
                  Построили потрясающую деревянную лестницу
                </h3>
              </a>

              <div class="blog__text">
                <p>
                  Один из самых необыкновенных проектов нашей компании - винтовая деревянная лестница в старинном стиле.
                </p>
              </div>

              <a class="blog__wright-link" href="#">
                Читать полностью
              </a>
            </div>

          </li>

          <li class="blog__item swiper-slide">

            <div class="blog__img">
              <img src="./img/blog1.jpg" alt="Потрясающая деревянная лестница с изображение льва на ручке" width="330" height="210">
            </div>

            <time class="blog__date button-style" datetime="2022-06-12">12 июля</time>

            <div class="blog__info">
              <a class="blog__link" href="#">
                <h3 class="blog__heading">
                  Построили потрясающую деревянную лестницу
                </h3>
              </a>

              <div class="blog__text">
                <p>
                  Один из самых необыкновенных проектов нашей компании - винтовая деревянная лестница в старинном стиле.
                </p>
              </div>

              <a class="blog__wright-link" href="#">
                Читать полностью
              </a>
            </div>

          </li>

          <li class="blog__item swiper-slide">

            <div class="blog__img">
              <img src="./img/blog1.jpg" alt="Потрясающая деревянная лестница с изображение льва на ручке" width="330"
                height="210">
            </div>

            <time class="blog__date button-style" datetime="2022-06-12">12 июля</time>

            <div class="blog__info">
              <a class="blog__link" href="#">
                <h3 class="blog__heading">
                  Построили потрясающую деревянную лестницу
                </h3>
              </a>

              <div class="blog__text">
                <p>
                  Один из самых необыкновенных проектов нашей компании - винтовая деревянная лестница в старинном стиле.
                </p>
              </div>

              <a class="blog__wright-link" href="#">
                Читать полностью
              </a>
            </div>

          </li>

          <li class="blog__item swiper-slide blog__item--last" style="background-image: url(./img/bg-blog.jpg)">
            <a class="blog__wright-link" href="#">
              Перейти ко всем
              записям блога
            </a>
          </li>
        </ul>

        <div class="blog__pagination swiper-pagination"></div>
      </div>

    </div>
  </div>
</section>
