<section class="bwork">
  <!-- Best work top start -->
  <div class="bwork__top">
    <div class="container">
      <div class="bwork__top-wrap">
        <!-- Best work description start -->
        <div class="bwork__descr">
          <p>
            Представляем вам лучшие проекты, разработанные нашей командой профессионалов с любовью и заботой о клиентах. Портфолио позволит вам выбрать интересующий стиль, цвет дерева, фактуру, дизайн и расположение элементов.
          </p>
        </div>
        <!-- Best work description end -->
        <!-- Best work title start -->
        <div class="bwork__title-block">
          <span class="bwork__subtitle">Лучшие работы</span>
          <h2 class="bwork__title title">Создаём тёплую атмосферу вашего отдыха</h2>
        </div>
        <!-- Best work title end -->
      </div>
    </div>
  </div>
  <!-- Best work top end -->

  <!-- Best work bottom start -->
  <div class="bwork__bottom">
    <div class="container">
      <ul class="bwork__list">
        <li class="bwork__item">
          <a class="bwork__link" href="#">
            <article class="bwork__card card">
              <div class="card__img">
                <img src='./img/bw1.jpg' alt='Современная гостиная в древесных тонах, по середине комнаты расположен круговой диван со столиком, рядом стоят высокие цветы папоротника' width='360' height='200'>
              </div>
              <div class="card__content">
                <address class="card__address" title="Санкт-Петербург, Английский Пр.">Санкт-Петербург, Английский Пр.</address>
                <h3 class="card__title">Современная гостиная в древесных тонах</h3>
              </div>
            </article>
          </a>
        </li>

        <li class="bwork__item">
          <a class="bwork__link" href="#">
            <article class="bwork__card card">
              <div class="card__img">
                <img src='./img/bw1.jpg' alt='Современная гостиная в древесных тонах, по середине комнаты расположен круговой диван со столиком, рядом стоят высокие цветы папоротника' width='360' height='200'>
              </div>
              <div class="card__content">
                <address class="card__address" title="Санкт-Петербург, Английский Пр.">Санкт-Петербург, Английский Пр.</address>
                <h3 class="card__title">Современная гостиная в древесных тонах</h3>
              </div>
            </article>
          </a>
        </li>

        <li class="bwork__item">
          <a class="bwork__link" href="#">
            <article class="bwork__card card">
              <div class="card__img">
                <img src='./img/bw1.jpg' alt='Современная гостиная в древесных тонах, по середине комнаты расположен круговой диван со столиком, рядом стоят высокие цветы папоротника' width='360' height='200'>
              </div>
              <div class="card__content">
                <address class="card__address" title="Санкт-Петербург, Английский Пр.">Санкт-Петербург, Английский Пр.</address>
                <h3 class="card__title">Современная гостиная в древесных тонах</h3>
              </div>
            </article>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <!-- Best work bottom end -->

  <a class="bwork__btn button-style" href="#">
    <span class="bwork__btn-text">Показать ещё</span>
  </a>
</section>
