<div class="hero-slider">
  <div class="swiper-wrapper">
    <!-- slider slide start -->
    <div class="hero-slider__slide swiper-slide" style="background-image: url(./img/slider-img.jpg);">
      <div class="container">
        <div class="hero-slider__inner">
          <h2 class="hero-slider__title" data-animate="bottom">
            Woodhouse
          </h2>
          <span class="hero-slider__subtitle" data-animate="bottom">
            Дизайн на высоком уровне
          </span>
          <div class="hero-slider__descr" data-animate="bottom">
            <p>
              Разработка и реализация красивых интерьеров из дерева ещё никогда не была так доступна. Интерьеры из
              дерева различной
              породы сделают ваш дом уютным и тёплым, радуя вас и ваших гостей.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- slider slide end -->
    <!-- slider slide start -->
    <div class="hero-slider__slide swiper-slide" style="background-image: url(./img/slider-img.jpg);">
      <div class="container">
        <div class="hero-slider__inner">
          <h2 class="hero-slider__title" data-animate="bottom">
            Woodhouse
          </h2>
          <span class="hero-slider__subtitle" data-animate="bottom">
            Дизайн на высоком уровне
          </span>
          <div class="hero-slider__descr" data-animate="bottom">
            <p>
              Разработка и реализация красивых интерьеров из дерева ещё никогда не была так доступна. Интерьеры из
              дерева различной
              породы сделают ваш дом уютным и тёплым, радуя вас и ваших гостей.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- slider slide end -->
    <!-- slider slide start -->
    <div class="hero-slider__slide swiper-slide" style="background-image: url(./img/slider-img.jpg);">
      <div class="container">
        <div class="hero-slider__inner">
          <h2 class="hero-slider__title" data-animate="bottom">
            Woodhouse
          </h2>
          <span class="hero-slider__subtitle" data-animate="bottom">
            Дизайн на высоком уровне
          </span>
          <div class="hero-slider__descr" data-animate="bottom">
            <p>
              Разработка и реализация красивых интерьеров из дерева ещё никогда не была так доступна. Интерьеры из
              дерева различной
              породы сделают ваш дом уютным и тёплым, радуя вас и ваших гостей.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- slider slide end -->
  </div>
  <!-- slider bottom start -->
  <div class="hero-slider__bottom">
    <div class="hero-slider__pagination-wrap">
      <div class="hero-slider__pagination swiper-pagination"></div>
    </div>
    <div class="hero-slider__scrollbar">
      <div class="swiper-scrollbar"></div>
    </div>
    <div class="hero-slider__navigation">
      <button class='hero-slider__prev swiper-button-prev' type='button' aria-label='Предыдущий слайд'></button>
      <button class='hero-slider__next swiper-button-next' type='button' aria-label='Следующий слайд'></button>
    </div>
  </div>
  <!-- slider bottom end -->
</div>
