<section class="partners" style="background-image: url(./img/bg-partners.jpg)">
  <div class="container">
    <div class="partners__inner">

      <h2 class="partners__title title">
        Наши партнеры
      </h2>

      <ul class="partners__list">
        <li class="partners__item" style="background-image: url(./img/milano.png)">
          <p>
            <span>Milano Parquet S.R.L.</span> Мы заботимся о древесине и тщательно следим за всем производственным процессом.
          </p>
        </li>
        <li class="partners__item" style="background-image: url(./img/milano.png)">
          <p>
            <span>Milano Parquet S.R.L.</span> Мы заботимся о древесине и тщательно следим за всем производственным процессом.
          </p>
        </li>
        <li class="partners__item" style="background-image: url(./img/milano.png)">
          <p>
            <span>Milano Parquet S.R.L.</span> Мы заботимся о древесине и тщательно следим за всем производственным процессом.
          </p>
        </li>
        <li class="partners__item" style="background-image: url(./img/milano.png)">
          <p>
            <span>Milano Parquet S.R.L.</span> Мы заботимся о древесине и тщательно следим за всем производственным процессом.
          </p>
        </li>
      </ul>

    </div>
  </div>
</section>
