<section class="project-items">
  <div class="container">
    <div class="project-items__top">
      <h2 class="project-items__title title title--dark">Наши проекты</h2>
      <p class="project-items__descr">Представляем вам лучшие работы нашей студии дизайна. От потрясающих гостиных до самых необычных эксклюзивных решений.</p>
    </div>

    <ul class="project-items__list">
      <li class="project-items__item">
        <article class="project">
          <div class='project__img'>
            <img src='./img/project1.jpg' alt='Описание проекта' width='360' height='230' aria-hidden="true">
          </div>
          <div class="project__info">
            <span class="project__company">Заказчик: Компания «Арес»</span>
            <h3 class="project__title title title--dark">Холл для гостей</h3>
            <a class="project__link" href="#">Ознакомиться</a>
          </div>
        </article>
      </li>
      <li class="project-items__item project-items__item--lg">
        <article class="project">
          <div class='project__img'>
            <img src='./img/project5.jpg' alt='Описание проекта' width='360' height='480' aria-hidden="true">
          </div>
          <div class="project__info">
            <span class="project__company">Заказчик: Компания «Арес»</span>
            <h3 class="project__title title title--dark">Холл для гостей</h3>
            <a class="project__link" href="#">Ознакомиться</a>
          </div>
        </article>
      </li>
      <li class="project-items__item">
        <article class="project">
          <div class='project__img'>
            <img src='./img/project2.jpg' alt='Описание проекта' width='360' height='230' aria-hidden="true">
          </div>
          <div class="project__info">
            <span class="project__company">Заказчик: Компания «Арес»</span>
            <h3 class="project__title title title--dark">Холл для гостей</h3>
            <a class="project__link" href="#">Ознакомиться</a>
          </div>
        </article>
      </li>
      <li class="project-items__item">
        <article class="project">
          <div class='project__img'>
            <img src='./img/project3.jpg' alt='Описание проекта' width='360' height='230' aria-hidden="true">
          </div>
          <div class="project__info">
            <span class="project__company">Заказчик: Компания «Арес»</span>
            <h3 class="project__title title title--dark">Холл для гостей</h3>
            <a class="project__link" href="#">Ознакомиться</a>
          </div>
        </article>
      </li>
      <li class="project-items__item">
        <article class="project">
          <div class='project__img'>
            <img src='./img/project4.jpg' alt='Описание проекта' width='360' height='230' aria-hidden="true">
          </div>
          <div class="project__info">
            <span class="project__company">Заказчик: Компания «Арес»</span>
            <h3 class="project__title title title--dark">Холл для гостей</h3>
            <a class="project__link" href="#">Ознакомиться</a>
          </div>
        </article>
      </li>
      <li class="project-items__item project-items__item--lg">
        <article class="project">
          <div class='project__img'>
            <img src='./img/project6.jpg' alt='Описание проекта' width='360' height='230' aria-hidden="true">
          </div>
          <div class="project__info">
            <span class="project__company">Заказчик: Компания «Арес»</span>
            <h3 class="project__title title title--dark">Холл для гостей</h3>
            <a class="project__link" href="#">Ознакомиться</a>
          </div>
        </article>
      </li>
      <li class="project-items__item">
        <article class="project">
          <div class='project__img'>
            <img src='./img/project7.jpg' alt='Описание проекта' width='360' height='230' aria-hidden="true">
          </div>
          <div class="project__info">
            <span class="project__company">Заказчик: Компания «Арес»</span>
            <h3 class="project__title title title--dark">Холл для гостей</h3>
            <a class="project__link" href="#">Ознакомиться</a>
          </div>
        </article>
      </li>
      <li class="project-items__item project-items__item--lg">
        <article class="project">
          <div class='project__img'>
            <img src='./img/project9.jpg' alt='Описание проекта' width='360' height='230' aria-hidden="true">
          </div>
          <div class="project__info">
            <span class="project__company">Заказчик: Компания «Арес»</span>
            <h3 class="project__title title title--dark">Холл для гостей</h3>
            <a class="project__link" href="#">Ознакомиться</a>
          </div>
        </article>
      </li>
      <li class="project-items__item">
        <article class="project">
          <div class='project__img'>
            <img src='./img/project8.jpg' alt='Описание проекта' width='360' height='230' aria-hidden="true">
          </div>
          <div class="project__info">
            <span class="project__company">Заказчик: Компания «Арес»</span>
            <h3 class="project__title title title--dark">Холл для гостей</h3>
            <a class="project__link" href="#">Ознакомиться</a>
          </div>
        </article>
      </li>
      <li class="project-items__item">
        <article class="project">
          <div class='project__img'>
            <img src='./img/project1.jpg' alt='Описание проекта' width='360' height='230' aria-hidden="true">
          </div>
          <div class="project__info">
            <span class="project__company">Заказчик: Компания «Арес»</span>
            <h3 class="project__title title title--dark">Холл для гостей</h3>
            <a class="project__link" href="#">Ознакомиться</a>
          </div>
        </article>
      </li>
      <li class="project-items__item project-items__item--lg">
        <article class="project">
          <div class='project__img'>
            <img src='./img/project5.jpg' alt='Описание проекта' width='360' height='480' aria-hidden="true">
          </div>
          <div class="project__info">
            <span class="project__company">Заказчик: Компания «Арес»</span>
            <h3 class="project__title title title--dark">Холл для гостей</h3>
            <a class="project__link" href="#">Ознакомиться</a>
          </div>
        </article>
      </li>
      <li class="project-items__item">
        <article class="project">
          <div class='project__img'>
            <img src='./img/project2.jpg' alt='Описание проекта' width='360' height='230' aria-hidden="true">
          </div>
          <div class="project__info">
            <span class="project__company">Заказчик: Компания «Арес»</span>
            <h3 class="project__title title title--dark">Холл для гостей</h3>
            <a class="project__link" href="#">Ознакомиться</a>
          </div>
        </article>
      </li>
      <li class="project-items__item">
        <article class="project">
          <div class='project__img'>
            <img src='./img/project3.jpg' alt='Описание проекта' width='360' height='230' aria-hidden="true">
          </div>
          <div class="project__info">
            <span class="project__company">Заказчик: Компания «Арес»</span>
            <h3 class="project__title title title--dark">Холл для гостей</h3>
            <a class="project__link" href="#">Ознакомиться</a>
          </div>
        </article>
      </li>
      <li class="project-items__item">
        <article class="project">
          <div class='project__img'>
            <img src='./img/project4.jpg' alt='Описание проекта' width='360' height='230' aria-hidden="true">
          </div>
          <div class="project__info">
            <span class="project__company">Заказчик: Компания «Арес»</span>
            <h3 class="project__title title title--dark">Холл для гостей</h3>
            <a class="project__link" href="#">Ознакомиться</a>
          </div>
        </article>
      </li>
      <li class="project-items__item project-items__item--lg">
        <article class="project">
          <div class='project__img'>
            <img src='./img/project6.jpg' alt='Описание проекта' width='360' height='230' aria-hidden="true">
          </div>
          <div class="project__info">
            <span class="project__company">Заказчик: Компания «Арес»</span>
            <h3 class="project__title title title--dark">Холл для гостей</h3>
            <a class="project__link" href="#">Ознакомиться</a>
          </div>
        </article>
      </li>
      <li class="project-items__item">
        <article class="project">
          <div class='project__img'>
            <img src='./img/project7.jpg' alt='Описание проекта' width='360' height='230' aria-hidden="true">
          </div>
          <div class="project__info">
            <span class="project__company">Заказчик: Компания «Арес»</span>
            <h3 class="project__title title title--dark">Холл для гостей</h3>
            <a class="project__link" href="#">Ознакомиться</a>
          </div>
        </article>
      </li>
      <li class="project-items__item project-items__item--lg">
        <article class="project">
          <div class='project__img'>
            <img src='./img/project9.jpg' alt='Описание проекта' width='360' height='230' aria-hidden="true">
          </div>
          <div class="project__info">
            <span class="project__company">Заказчик: Компания «Арес»</span>
            <h3 class="project__title title title--dark">Холл для гостей</h3>
            <a class="project__link" href="#">Ознакомиться</a>
          </div>
        </article>
      </li>
      <li class="project-items__item">
        <article class="project">
          <div class='project__img'>
            <img src='./img/project8.jpg' alt='Описание проекта' width='360' height='230' aria-hidden="true">
          </div>
          <div class="project__info">
            <span class="project__company">Заказчик: Компания «Арес»</span>
            <h3 class="project__title title title--dark">Холл для гостей</h3>
            <a class="project__link" href="#">Ознакомиться</a>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>
