<section class="project-info-content">

  <h1 class="visually-hidden">
    Информация по проекту
  </h1>

  <div class="container">
    <div class="project-info-content__inner">

      <div class="project-info-content__fotorama">
        <div class='project-info-content__fotorama-img'>
          <img src='./img/project-image.jpg' alt='Панорамная чилаут зона для чтения и отдыха' width='1120' height='630'>
        </div>
      </div>

      <h2 class="project-info-content__title title title--dark">
        Панорамная чилаут зона для чтения и отдыха
      </h2>

      <div class="project-info-content__descr">

        <div class="project-info-content__wrap">
          <div class="project-info-content__text">
            <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для
            текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм
            шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных.</p>
          </div>

          <div class="project-info-content__img">
            <img src='./img/plan1.png' alt='План здания из четырех комнат' width='70' height='530'>
          </div>
          <div class="project-info-content__img">
            <img src='./img/plan2.png' alt='Макет здания' width='70' height='530'>
          </div>

          <div class="project-info-content__text">
            <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой"
              для
              текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм
              шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных.</p>
          </div>

          <div class="project-info-content__img">
            <img src='./img/plan3.jpg' alt='Макет здания' width='70' height='530'>
          </div>

          <div class="project-info-content__text">
            <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой"
              для
              текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм
              шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных.</p>
          </div>

          <div class="project-info-content__img">
            <img src='./img/plan4.jpg' alt='Макет здания' width='70' height='530'>
          </div>

          <div class="project-info-content__text">
            <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой"
              для
              текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм
              шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных.</p>
          </div>
        </div>

        <aside class="project-info-content__aside">
            <div class="project-info-content__master">
              <h3 class="project-info-content__heading">Старший архитектор</h3>
              <div class="project-info-content__master-img">
                <img src='./img/photo-master.png' alt='Фотография Евгения Григорьева' width='105' height='105'>
              </div>
              <h4 class="project-info-content__master-name">Евгений Григорьев</h4>
              <div class="project-info-content__master-descr">
                <p>Выпускник гарвардского университета, кандидат наук, профессиональный архитектор. В общей сложности реализовал более 120
                проектов.</p>
              </div>
            </div>

            <div class="project-info-content__about-project">
              <h3 class="project-info-content__heading">
                Информация о проекте
              </h3>
              <div class="project-info-content__project-props">
                <div class="project-info-content__project-props-left">
                  <span>Заказчик</span>
                  <span>Площадь</span>
                  <span>Время разработки</span>
                  <span>Высота потолка</span>
                  <span>Толщина стен</span>
                </div>
                <div class="project-info-content__project-props-right">
                  <span>Частное лицо</span>
                  <span>24 кв.м.</span>
                  <span>3 недели</span>
                  <span>3.4 метра</span>
                  <span>45 см.</span>
                </div>
              </div>
            </div>
        </aside>

      </div>
    </div>
  </div>
</section>
