<section class="services">
  <div class="container">
    <div class="services__inner">

      <div class="services__top top">
        <h2 class="services__title title title--dark">Наши услуги</h2>
        <p class="services__descr descr">
          Здесь мы собрали все ключевые услуги нашей компании, разбитые по категориям. Если необходимой вам услуги нет в списке,
          напишите нам.
        </p>
      </div>

      <ul class="services__list">
        <li class="services__item">
          <a class="services__link" href="./services-item-page.html">
            <div class="services__info">
              <h3 class="services__heading">Дизайн интерьера</h3>
              <p class="services__text">
                Мы проектируем потрясающие дизайны интерьеров вот уже более 30 лет и радуем наших клиентов неповторимыми работами,
                выполненными в различных стилях и со вкусом.
              </p>
            </div>

            <div class="services__img">
              <img src="./img/services6.jpg" alt="Дизайн интерьера" width="270" height="255">
            </div>
          </a>
        </li>
        <li class="services__item">
          <a class="services__link" href="./services-item-page.html">
            <div class="services__info">
              <h3 class="services__heading">Дизайн интерьера</h3>
              <p class="services__text">
                Мы проектируем потрясающие дизайны интерьеров вот уже более 30 лет и радуем наших клиентов неповторимыми работами,
                выполненными в различных стилях и со вкусом.
              </p>
            </div>

            <div class="services__img">
              <img src="./img/services5.jpg" alt="Дизайн интерьера" width="270" height="255">
            </div>
          </a>
        </li>
        <li class="services__item">
          <a class="services__link" href="./services-item-page.html">
            <div class="services__info">
              <h3 class="services__heading">Дизайн интерьера</h3>
              <p class="services__text">
                Мы проектируем потрясающие дизайны интерьеров вот уже более 30 лет и радуем наших клиентов неповторимыми работами,
                выполненными в различных стилях и со вкусом.
              </p>
            </div>

            <div class="services__img">
              <img src="./img/services4.jpg" alt="Дизайн интерьера" width="270" height="255">
            </div>
          </a>
        </li>
        <li class="services__item">
          <a class="services__link" href="./services-item-page.html">
            <div class="services__info">
              <h3 class="services__heading">Дизайн интерьера</h3>
              <p class="services__text">
                Мы проектируем потрясающие дизайны интерьеров вот уже более 30 лет и радуем наших клиентов неповторимыми работами,
                выполненными в различных стилях и со вкусом.
              </p>
            </div>

            <div class="services__img">
              <img src="./img/services3.jpg" alt="Дизайн интерьера" width="270" height="255">
            </div>
          </a>
        </li>
        <li class="services__item">
          <a class="services__link" href="./services-item-page.html">
            <div class="services__info">
              <h3 class="services__heading">Дизайн интерьера</h3>
              <p class="services__text">
                Мы проектируем потрясающие дизайны интерьеров вот уже более 30 лет и радуем наших клиентов неповторимыми работами,
                выполненными в различных стилях и со вкусом.
              </p>
            </div>

            <div class="services__img">
              <img src="./img/services2.jpg" alt="Дизайн интерьера" width="270" height="255">
            </div>
          </a>
        </li>
        <li class="services__item">
          <a class="services__link" href="./services-item-page.html">
            <div class="services__info">
              <h3 class="services__heading">Дизайн интерьера</h3>
              <p class="services__text">
                Мы проектируем потрясающие дизайны интерьеров вот уже более 30 лет и радуем наших клиентов неповторимыми работами,
                выполненными в различных стилях и со вкусом.
              </p>
            </div>

            <div class="services__img">
              <img src="./img/services1.jpg" alt="Дизайн интерьера" width="270" height="255">
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="services__bottom">
    <button class="services__link-btn button-style" type="button" data-micromodal-open="modal-1" data-form="Форма секции Наши услуги">
      Оформить заявку
    </button>
  </div>
</section>
