<section class="services-item">
  <div class="container">
    <div class="services-item__inner">

      <!-- Top start -->
      <div class="services-item__top top">
        <h2 class="services-item__title title title--dark">ДИзайн интерьера</h2>
        <p class="services-item__descr descr">
          Мы проектируем потрясающие дизайны интерьеров вот уже более 30 лет и радуем наших клиентов неповторимыми работами,
          выполненными в различных стилях и со вкусом.
        </p>
      </div>
      <!-- Top end -->

      <div class="services-item__content">

        <div class='services-item__img'>
          <img src='./img/services-item.jpg' alt='Описание картинки' width='930' height='500'>
        </div>

        <div class="services-item__text">
          <p>
            Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для
            текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм
            шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил.
          </p>
        </div>

      </div>

    </div>
  </div>
</section>
