<section class="trust">
  <div class="container">
    <div class="trust__inner">
      <div class="trust__left">
        <!-- Title start -->
        <h3 class="trust__title">
          Нам доверяют
        </h3>
        <!-- Title end -->
        <!-- Trust list start -->
        <ul class="trust__list">
          <li class="trust__item"><span>860</span> клиентов по всему миру</li>
          <li class="trust__item"><span>36</span> лучших франчайзи</li>
          <li class="trust__item"><span>38</span> пернатых попугаев</li>
          <li class="trust__item"><span>23</span> надёжных партнёна</li>
          <li class="trust__item"><span>108</span> производителей мебели</li>
          <li class="trust__item"><span>256</span> восьмибитных цветов</li>
          <li class="trust__item"><span>12</span> поставщиков</li>
          <li class="trust__item"><span>85</span> сотрудников</li>
        </ul>
        <!-- Trust list end -->
      </div>
      <div class="trust__right">
        <!-- Trust description start -->
        <div class="trust__descr">
          <p>Позвоните нам или оставьте заявку с сайта.
            Мы перезвоним вам в течение 10 минут.</p>
        </div>
        <!-- Trust description end -->
        <!-- Trust phone start -->
        <a class="trust__phone" href="tel:84992467532">
          +7 (499) 246-75-32
        </a>
        <!-- Trust phone end -->
        <!-- Trust Button start -->
        <button class="trust__btn button-style" data-micromodal-open="modal-1" data-form="Форма секции Нам доверяют">
          Оформить заявку сейчас
        </button>
        <!-- Trust Button end -->
        <input type="hidden" name="form">
      </div>
    </div>
  </div>
</section>
