// Colors
$white: #fff;
$black: #000;
$black-800: #171a1a;
$black-700: #202328;
$black-600: #333;
$black-100: #c4c4c4;
$orange: #f88500;

$radius: 5px;
$radius-style: 0 5px;
$transition: 0.3s ease-out;

// Fonts
$oswald: 'Oswald', Arial, sans-serif;
$raleway: 'Raleway', Arial, sans-serif;
$roboto: 'Roboto', Arial, sans-serif;

// Container page
$container: 1130px;

